@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App{
  /* background-color: azure; */
  background-color: rgb(238, 238, 238);
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Poppins', sans-serif;            
 
}

.landBox{
  background-image: linear-gradient(rgba(76, 125, 216, 0.747), rgba(8, 223, 252, 0.918)), 
  url('https://www.shutterstock.com/image-photo/blurred-medical-background-modern-hospital-hall-1495426337') ;

}

.complaints-page {
    background-color: rgb(238, 238, 238);
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    min-height: 100vh;
    
    
}

.area-box{
    
    margin-top: 80px;
    height: 300px;
    width: 700px; 
    margin-bottom: 60px;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 10px;

  }
.btn {
    display: inline-block;
    background: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
   
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 20%;
    margin: auto;
  }

#footer {
    margin-left: 5px;
    text-align: center;
    padding: 1em 0 1em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 0.8em;
}

    #footer .copyright {
        cursor: default;
        margin: 0;
    }

        #footer .copyright li {
            display: inline-block;
            line-height: 1em;
            border-left: solid 1px rgba(128, 128, 128, 0.35);
            padding: 0 0 0 0.5em;
            margin: 0 0 0 0.5em;
        }

            #footer .copyright li:first-child {
                border-left: 0;
                padding-left: 0;
                margin-left: 0;
            }


    